openapi: 3.0.0
info:
  contact:
    name: The open API platform by Mercedes-Benz
  description: >
    This API allows to get status information of windows and doors, deck lid,
    rooftop or sunroof and interior lights of connected Mercedes-Benz vehicles
    remotely.

    Data is categorized into resources and containers for the polling interface.
    They are defined as follows:

    * *Resource*: A resource is a single information about a vehicle. It's a
    measurement that consists of a name (also referred to as resource ID), a
    value, and an associated timestamp. See below for a list and description of
    all resources that this API provides.

    * *Container*: A container is a set of resources that are defined to group
    data for a certain use case.


    The interface is a ISO 20078-compliant REST endpoint to query the latest
    data for a vehicle. If the vehicle did not send an update for a resource
    within 12 hours, the response will be empty.

    ## Resources

    This is an alphabetical list of all resources that the API provides.

    Name | Description | Unit/Range

    ---- | ----------- | ----------

    decklidstatus | Deck lid latch status opened/closed state | false:
    closed<br>true: open

    doorstatusfrontleft | Status of the front left door | false: closed<br>true:
    open

    doorstatusfrontright | Status of the front right door | false:
    closed<br>true: open

    doorstatusrearleft | Status of the rear left door | false: closed<br>true:
    open

    doorstatusrearright | Status of the rear right door | false: closed<br>true:
    open

    interiorLightsFront | Front light inside | false: off<br>true: on

    interiorLightsRear | Rear light inside | false: off<br>true: on

    lightswitchposition | Rotary light switch position | 0: auto<br>1:
    headlights<br>2: sidelight left<br> 3: sidelight right<br>4: parking light

    readingLampFrontLeft | Front left reading light inside | false: off<br>true:
    on

    readingLampFrontRight | Front right reading light inside | false:
    off<br>true: on

    rooftopstatus | Status of the convertible top opened/closed | 0: unlocked
    <br>1: open and locked <br>2: closed and locked

    sunroofstatus | Status of the sunroof | 0: Tilt/slide sunroof is
    closed<br>1: Tilt/slide sunroof is complete open<br>2: Lifting roof is
    open<br>3: Tilt/slide sunroof is running<br>4: Tilt/slide sunroof in
    anti-booming position<br>5: Sliding roof in intermediate position<br>6:
    Lifting roof in intermediate position

    windowstatusfrontleft | Status of the front left window  | 0: window in
    intermediate position<br>1: window completely opened<br>2: window completely
    closed<br>3: window airing position<br>4: window intermediate airing
    position<br>5: window currently running

    windowstatusfrontright | Status of the front right window  | 0: window in
    intermediate position<br>1: window completely opened<br>2: window completely
    closed<br>3: window airing position<br>4: window intermediate airing
    position<br>5: window currently running

    windowstatusrearleft | Status of the rear left window  | 0: window in
    intermediate position<br>1: window completely opened<br>2: window completely
    closed<br>3: window airing position<br>4: window intermediate airing
    position<br>5: window currently running

    windowstatusrearright | Status of the rear right window | 0: window in
    intermediate position<br>1: window completely opened<br>2: window completely
    closed<br>3: window airing position<br>4: window intermediate airing
    position<br>5: window currently running
  title: Vehicle Status API
  version: '2.0'
servers:
  - url: 'https://api.mercedes-benz.com/vehicledata/v2'
paths:
  '/vehicles/{vehicleId}/containers/vehiclestatus':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/VehicleStatus'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Container Vehicle Status
      deprecated: false
      operationId: getResourcesForContainerIdUsingGET
      summary: >-
        Returns all resources for the provided 'vehiclestatus', data can be
        filtered for a certain time range.
  '/vehicles/{vehicleId}/resources':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/ResourceMetaInfo'
                type: array
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Resources
      deprecated: false
      operationId: getAllResourcesForVinUsingGET
      summary: >-
        Returns all available resources for the provided vehicle identification
        number.
  '/vehicles/{vehicleId}/resources/decklidstatus':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  decklidstatus:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Decklid resource
      deprecated: false
      operationId: getLatestDecklidUsingGET
      summary: >-
        Returns the latest available resource for the decklid status and vehicle
        identification number.
  '/vehicles/{vehicleId}/resources/doorstatusfrontleft':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  doorstatusfrontleft:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front left door resource
      deprecated: false
      operationId: getLatestDoorStatusFrontLeftUsingGET
      summary: >-
        Returns the latest available resource for the front left door status and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/doorstatusfrontright':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  doorstatusfrontright:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front right door resource
      deprecated: false
      operationId: getLatestDoorStatusFrontRightUsingGET
      summary: >-
        Returns the latest available resource for the front right door status
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/doorstatusrearleft':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  doorstatusrearleft:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Rear left door resource
      deprecated: false
      operationId: getLatestDoorStatusRearLeftUsingGET
      summary: >-
        Returns the latest available resource for the rear left door status and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/doorstatusrearright':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  doorstatusrearright:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Rear right door resource
      deprecated: false
      operationId: getLatestDoorStatusRearRightUsingGET
      summary: >-
        Returns the latest available resource for the rear right door status and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/interiorLightsFront':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  interiorLightsFront:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Interior front light resource
      deprecated: false
      operationId: getLatestInteriorFrontLightsUsingGET
      summary: >-
        Returns the latest available resource for the interior front lights and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/interiorLightsRear':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  interiorLightsRear:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Interior rear light resource
      deprecated: false
      operationId: getLatestInteriorRearLightsUsingGET
      summary: >-
        Returns the latest available resource for the interior rear lights and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/lightswitchposition':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  lightswitchposition:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Light switch position resource
      deprecated: false
      operationId: getLatestLightSwitchPositionUsingGET
      summary: >-
        Returns the latest available resource for the light switch position and
        vehicle identification number.
  '/vehicles/{vehicleId}/resources/readingLampFrontLeft':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  readingLampFrontLeft:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front left reading lamp resource
      deprecated: false
      operationId: getLatestReadingLampFrontLeftUsingGET
      summary: >-
        Returns the latest available resource for the front left reading lamp
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/readingLampFrontRight':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  readingLampFrontRight:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front right reading lamp resource
      deprecated: false
      operationId: getLatestReadingLampFrontRightUsingGET
      summary: >-
        Returns the latest available resource for the front right reading lamp
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/rooftopstatus':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  rooftopstatus:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Convertible (roof top) resource
      deprecated: false
      operationId: getLatestRoofTopStatusUsingGET
      summary: >-
        Returns the latest available resource for the convertible and vehicle
        identification number.
  '/vehicles/{vehicleId}/resources/sunroofstatus':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  sunroofstatus:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Sunroof resource
      deprecated: false
      operationId: getLatestSunRoofStatusUsingGET
      summary: >-
        Returns the latest available resource for the sunroof and vehicle
        identification number.
  '/vehicles/{vehicleId}/resources/windowstatusfrontleft':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  windowstatusfrontleft:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front left windows resource
      deprecated: false
      operationId: getLatestWindowStatusFrontLeftUsingGET
      summary: >-
        Returns the latest available resource for the front left window status
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/windowstatusfrontright':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  windowstatusfrontright:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Front right windows resource
      deprecated: false
      operationId: getLatestWindowStatusFrontRightUsingGET
      summary: >-
        Returns the latest available resource for the front right window status
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/windowstatusrearleft':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  windowstatusrearleft:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Rear left windows resource
      deprecated: false
      operationId: getLatestWindowStatusRearLeftUsingGET
      summary: >-
        Returns the latest available resource for the rear left window status
        and vehicle identification number.
  '/vehicles/{vehicleId}/resources/windowstatusrearright':
    get:
      parameters:
        - description: Vehicle identification number
          in: path
          name: vehicleId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json;charset=utf-8:
              schema:
                properties:
                  windowstatusrearright:
                    $ref: '#/components/schemas/Resource'
                type: object
          description: OK
        '204':
          description: No data available
        '400':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Forbidden
        '404':
          description: Resource not Found
        '429':
          description: The service received too many requests in a given amount of time.
        '500':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Internal Server Error
        '503':
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/ExVeError'
          description: Service Unavailable
      tags:
        - Rear right windows resource
      deprecated: false
      operationId: getLatestWindowStatusRearRightUsingGET
      summary: >-
        Returns the latest available resource for the rear right window status
        and vehicle identification number.
components:
  schemas:
    ExVeError:
      properties:
        exveErrorId:
          type: string
        exveErrorMsg:
          type: string
        exveErrorRef:
          type: string
      title: ExVeError
      type: object
    Resource:
      properties:
        timestamp:
          type: integer
        value:
          type: string
      title: Resource
      type: object
    ResourceMetaInfo:
      properties:
        href:
          type: string
        name:
          type: string
        version:
          type: string
      title: ResourceMetaInfo
      type: object
    VehicleStatus:
      properties:
        decklidstatus:
          $ref: '#/components/schemas/Resource'
        doorstatusfrontleft:
          $ref: '#/components/schemas/Resource'
        doorstatusfrontright:
          $ref: '#/components/schemas/Resource'
        doorstatusrearleft:
          $ref: '#/components/schemas/Resource'
        doorstatusrearright:
          $ref: '#/components/schemas/Resource'
        interiorLightsFront:
          $ref: '#/components/schemas/Resource'
        interiorLightsRear:
          $ref: '#/components/schemas/Resource'
        lightswitchposition:
          $ref: '#/components/schemas/Resource'
        readingLampFrontLeft:
          $ref: '#/components/schemas/Resource'
        readingLampFrontRight:
          $ref: '#/components/schemas/Resource'
        rooftopstatus:
          $ref: '#/components/schemas/Resource'
        sunroofstatus:
          $ref: '#/components/schemas/Resource'
        windowstatusfrontleft:
          $ref: '#/components/schemas/Resource'
        windowstatusfrontright:
          $ref: '#/components/schemas/Resource'
        windowstatusrearleft:
          $ref: '#/components/schemas/Resource'
        windowstatusrearright:
          $ref: '#/components/schemas/Resource'
      title: VehicleStatus
      type: object
  securitySchemes:
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: 'https://id.mercedes-benz.com/as/authorization.oauth2'
          scopes:
            'mb:vehicle:mbdata:vehiclestatus': Grant vehicle status access
          tokenUrl: 'https://id.mercedes-benz.com/as/token.oauth2'
      type: oauth2
security:
  - OAuth2:
      - 'mb:vehicle:mbdata:vehiclestatus'
tags:
  - description: Vehicle Status service for view all Vehicle Status vehicle data points
    name: Container Vehicle Status
  - description: Vehicle Status service for view all accessible resources
    name: Resources
  - description: Vehicle Status service for view decklid resource
    name: Decklid resource
  - description: Vehicle Status service for view front left door resource
    name: Front left door resource
  - description: Vehicle Status service for view front right door resource
    name: Front right door resource
  - description: Vehicle Status service for view rear left door resource
    name: Rear left door resource
  - description: Vehicle Status service for view rear right door resource
    name: Rear right door resource
  - description: Vehicle Status service for view interior front light resource
    name: Interior front light resource
  - description: Vehicle Status service for view interior rear light resource
    name: Interior rear light resource
  - description: Vehicle Status service for view light switch position resource
    name: Light switch position resource
  - description: Vehicle Status service for view front left reading lamp resource
    name: Front left reading lamp resource
  - description: Vehicle Status service for view front right reading lamp resource
    name: Front right reading lamp resource
  - description: Vehicle Status service for view convertible resource
    name: Convertible (roof top) resource
  - description: Vehicle Status service for view sunroof resource
    name: Sunroof resource
  - description: Vehicle Status service for view front left windows resource
    name: Front left windows resource
  - description: Vehicle Status service for view front right windows resource
    name: Front right windows resource
  - description: Vehicle Status service for view rear left windows resource
    name: Rear left windows resource
  - description: Vehicle Status service for view rear right windows resource
    name: Rear right windows resource

